.whole-page {
  width: 1158px;
}
.button {
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  background: #4d5ae5;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  transform: translateY(48px);
}
.button:hover,
.button:focus {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #3b46c4;
}
.button:hover {
  cursor: pointer;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.card-name:hover,
.card-name:focus {
  color: #404bbf;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #434455;
}
.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  color: white;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.link {
  font-weight: 500;
  line-height: 150%;
  color: #2e2f42;
}
p {
  line-height: 150%;
}
.card-job-title:hover,
.card-job-title:focus {
  color: #404bbf;
}
.slogan.section {
  background-color: #2e2f42;
}
.mail-link,
.tel-link {
  color: #434455;
}
.mail-link:hover,
.mail-link:focus {
  color: #404bbf;
}
.team.section {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
}
.card-item {
  background-color: #ffffff;
}
.header-logo-web,
.footer-logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.header-logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.page-footer {
  background-color: #2e2f42;
  height: 312px;
  width: 1440px;
  padding: 100px 1020px 100px 156px;
}
.footer-text {
  color: #f4f4fd;
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-top: 16px;
}
.footer-logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.footer-box {
  width: 264px;
  height: 112px;
}
.footer-logo {
  height: 24px;
}
.whole-page {
  width: 1158px;
}
.page-header {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 72px;
  align-items: center;
  margin: 0 auto;
}
.page-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.mail-link {
  margin-left: 332px;
}
.tel-link {
  margin-left: 40px;
}
.header-logo {
  margin: 156px;
  margin-right: 76px;
}
.slogan.section {
  width: 1440px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
}
.item.section {
  display: flex;
  width: 1440px;
  height: 344px;
  justify-content: center;
  align-items: center;
}
.item-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.item-box {
  width: 264px;
}
.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.card-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.card-item {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 380px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.tom.card-item {
  height: 404px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.section {
  padding: 120px 0;
  margin: 0;
}
.portfolio.section {
  width: 1440px;
  height: 1240px;
  background-color: #FFFFFF;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
  align-items: center;
}
.portfolio-item {
  height: 420px;
  width: 360px;
}
.portfolio-image {
  height: 300px;
  width: 360px;
}
.portfolio-text-box {
  height: 120px;
  width: 360px;
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
}